language: php
php:
    - 7.0
    - 7.1

branches:
    only:
        - master

install:
    - composer install --prefer-source

script:
    - phpunit --coverage-clover=coverage.clover

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
