language: php
php:
    - 7.0
    - 7.1

branches:
    only:
        - master

install:
    - composer install --prefer-source

script:
    - ./vendor/phpunit/phpunit/phpunit -c phpunit.xml.dist --coverage-clover=coverage.clover

after_script:
    - if [ "$TRAVIS_PHP_VERSION" == "7.0" ]; then wget https://scrutinizer-ci.com/ocular.phar; fi
    - if [ "$TRAVIS_PHP_VERSION" == "7.0" ]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
